.post-feed__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__item {
        width: 25rem;
        height: 15rem;
        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin-bottom: 1rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
}
